.gameId{
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 4px;
    background-color: lightgrey;
    border-radius: 4px;
    margin: 8px;
}



.centerAlign{
    width: 50%;
    margin: auto;
}
.btnContainer{
    text-align: center;
    padding-top: 20px;
}
.flexContainer{
    display: flex;
}

.dontShowAtStart{
    display: none;
}

.gameIdCont{
    width: 30%;
}

.cols{
    background-color: #f1f1f1;
    margin: 0.3em;
    padding: 0px;
    flex-direction: column;
}

.enabled{
    cursor: pointer;
}

.cells{
    margin: 0.4em;
    padding: 20px;
    background-color: white;
    border: 1px solid;
}

.cols_Hovered{
    background-color: #e1faff;
}

.player1Fill,.player1Filled{
    background-color: #00d5ff;
}

.player2Fill, .player2Filled{
    background-color: seagreen;
}

@media only screen and (max-width: 600px) {
.statusMessage
{
    max-width: 50vw;
}

.cols{
    margin-right: 1px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .cells{
    padding: 11px;
} */
}